<tr>
  <td>
    <%= track_counter + offset + 1 %>
  </td>
  <% if track.track %>
    <td>
      <%= track.track.id %>
    </td>
    <td>
      <%= track.track.artists.map(&:name).join(', ') %>
      -
      <%= track.track.name %>
    </td>
    <td>
      <%= track.track.popularity %>
    </td>
  <% else # track.track is nil %>
    <td colspan=3></td>
  <% end %>
  <td>
    <%= track.is_local %>
  </td>
  <td>
    <%= Time.zone.parse(track.added_at).to_s(:long) %>
  </td>
  <td>
    <%= track.added_by.id %>
  </td>
</tr>
