<tr>
  <td>
    <%= image_tag playlist.images.first.url, alt: 'playlist image', class: 'playlist-image' if playlist.images.first %>
  </td>
  <td>
    <%= playlist.id %>
  </td>
  <td>
    <%= link_to playlist.name, playlist_tracks_path(playlist_id: playlist) %>
  </td>
  <td>
    <%= playlist.tracks_count %>
  </td>
  <td>
    <%= playlist.owner.id %>
  </td>
  <td>
    <%= playlist.collaborative %>
  </td>
  <td>
    <%= playlist.public %>
  </td>
</tr>
