<!DOCTYPE html>
<html>
  <head>
    <title>SpotifyManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :kaminari_rel %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <p>
        Welcome,
        <%= current_user.nickname %>
        (<%= current_user.email %>)
      </p>
      <%= link_to 'Home', root_path %> |
      <%= link_to 'Playlists', playlists_path %> |
      <%= link_to 'Logout', logout_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in with Spotify", user_spotify_omniauth_authorize_path %><br />
    <% end %>
    <%= yield %>
  </body>
</html>
